
     #loader-outer{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px; 
      z-index: 999999999;
      background: rgba(255,255,255,1);

     }
     #loader-img{
      position: absolute;
      top: 40%;
      left: 40%;
     }
